@import url('https://fonts.googleapis.com/css?family=Abel|Oswald:700|Yellowtail|Patrick+Hand');
/* global styling */
* {
  font-family: times;
}
/* body styling */
body {
  background: #fff;
}
/* general tag styling  */
nav, article, aside, footer section {
  margin: 0 auto;
  width: 900px;
}
/* nav styling */
nav {
  margin-top: 25px;
}
/* hr & h2  */
hr {
    clear: both;
    border: 0;
    height: 13px;
    background-image: url('../img/hr.png');
  }
  
  h2 {
    margin-top: 50px;
    font-family: 'Oswald', sans-serif;
    font-size: 2.5em;
  }

  input {
    font-family: 'Patrick Hand', cursive;
  }

  